<!doctype html>
<html>
<head>
    <title>A Simple Mustache Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="mustache.js"></script>
    <script type="text/javascript" src="mustache-demos.js"></script>
</head>
<body>

<h1>메인화면(글 리스트 보여줄 공간)</h1>

</body>
</html>